.project {
background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    color: white;
}

.project h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #00ff99;
}

.links{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pageTitle {
    text-align: center;
    font-size: 2em;
    margin: 5rem 0 2rem 0;
    color: white;
}

.project a:link,
.project a:visited,
.project a:focus,
.project a:hover {
    text-decoration: none;
    color: #00ff99;
}
