.ResumeContainer{
    width: 90%;
    height: 100%;
    text-align: center;
    margin: auto;
        line-height: 1.7;
}

.myname{
    margin-top: 2.55em;
    font-size: 2.5em;
    font-weight: bold;
}

.skillsList, .Projects, .Experience , .Education, .Languages{
    margin: 1em 0;
    padding-left: 1.5em;
 text-align: left;
 list-style-type: disc;
}

.highlight{
    font-weight: bold;
    color: #00ff99;
}   

::marker {
  color: #00ff99;
}

.downloadResume{
    margin: 2em auto;
    background-color: #1c1c22;
    font-family: "JetBrains Mono", monospace;
    color: #00ff99;
    border: 1px solid #00ff99;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    width: 40%;
    place-content: center;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.downloadResume:hover {
    background-color: #00ff99;
    color: #1c1c22;
    transition: all 0.5s ease;
    font-weight: 600;
}