*::selection {
  background-color: #00ff99;
  color: #1c1c22;
}

a,
a:link,
a:visited,
a:focus,
a:hover{
  text-decoration: none;
  
}

#root {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.under-construction {
  text-align: center;
  margin: 6rem auto;
  width: fit-content;
}