@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  background-color: #1c1c22;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff99;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}

body {
  box-sizing: border-box;
margin: 0;
width: 100%;
height: 100vh;
margin: 0;
padding: 0;
}

:root::selection {
  background-color: #00ff99;
  color: #1c1c22;
}
